<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<section class="footer">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
      <!-- Grid container -->
      <div class="container p-2 pb-1">
        <!-- Section: CTA -->
        <section class="">
            <div class="row">
                <div class="col-sm-3">
                   
                </div>
                <div class="col-sm-2">
                    <a class="text-sm text-white" style="font-size: 13px;" routerLink="terminos" routerLinkActive="active" href="">Terminos y Condiciones</a>
                </div>
                <div class="col-sm-2">
                    <a class=" text-sm text-white" style="font-size: 13px;" routerLink="preguntas" routerLinkActive="active" href="">Preguntas Frecuentes</a>
                </div>
                <div class="col-sm-2">
                    <a class="text-sm text-white" href="mail:contacto@grabsis.com.ar" style="font-size: 13px;">contacto@grabsis.com.ar</a>
                </div>
            </div>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-sm-center p-3" style="font-size: 13px;" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-sm text-white"  style="font-size: 13px;" href="#">Grabsis.com.ar</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>