<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class = "col-md-6 offset-md-3 text-center">
        <h1>Bienvenido a grabsis</h1>
        <p>La verificación y el grabado de vehículos son procesos importantes para garantizar la seguridad y la protección de los propietarios de vehículos y de la sociedad en general. La verificación implica la inspección y la revisión de los documentos, las características y las condiciones del vehículo para asegurar que cumple con los requisitos legales y de seguridad. Por otro lado, el grabado de vehículos consiste en marcar el número de identificación del vehículo en las partes principales del mismo para prevenir el robo y facilitar su recuperación en caso de ser robado. Ambos procesos son esenciales para mantener la integridad del parque automotor y garantizar la tranquilidad de los conductores y la sociedad en general.</p>
        <button class="btn btn-primary" routerLink="turno" routerLinkActive="active">Solicitar turno</button>
      </div>
    </div>
  </div>
</div>
