<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class = "col-md-6 offset-md-3 text-center">
        <h1>Bienvenido a GRABSIS</h1>
        <h5>Sistema de turnos online para verificación automotor y motovehículos </h5>
        <p class="text-start">La verificación y el grabado de vehículos son procesos importantes para garantizar la seguridad y la protección de los propietarios de vehículos y de la sociedad en general. La verificación implica la inspección y la revisión de los documentos, las características y las condiciones del vehículo para asegurar que cumple con los requisitos legales y de seguridad. </p>
          <p class="text-start"> Por otro lado, el grabado de vehículos consiste en marcar el número de identificación del vehículo en las partes principales del mismo para prevenir el robo y facilitar su recuperación en caso de ser robado. Ambos procesos son esenciales para mantener la integridad del parque automotor y garantizar la tranquilidad de los conductores y la sociedad en general.</p>
        <div class="container ">
          <div class="row">
            <div class="col-lg-6">
              <div class="card text-black">
                <div class="card-body">
                  <img src="../../../assets/horario_sde.png" style="width: 100px; height: auto;" alt="Imagen de ejemplo">
                  <h5 class="card-title">Horario de Atencion</h5>
                  <p class="card-text">Lunes a Viernes</p>
                  <p class="card-text">8:00hs a 13:00hs</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card text-black">
                <div class="card-body">
                  <img src="../../../assets/checklist_sde.png " style="width: 100px; height: auto;" alt="Imagen de ejemplo">
                  <h5 class="card-title">Requisitos Verificación</h5>
                  <p class="card-text">1. Cédula única de identificación o Título del automotor/motovehículo.</p>
                  <p class="card-text">2. DNI del Solicitante.  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>
        <button class="btn btn-primary" routerLink="turno" routerLinkActive="active">Solicitar un turno</button>
        
      </div>
    </div>
  </div>
</div>
