<div class="container">

    <div class="row" *ngIf="busqueda">
        <div class="col">
            <div class="mt-5">
                <div class="card">
                    <div class="card-header text-white bg-primary" >
                      Vehiculos Pendientes de Grabado de AUTOPARTES
                    </div>
                    <div class="card-body bg-light">
                      <div class="row">
                        <form [formGroup]="formulario" >
                            <div class="row">
                                <div class="col-1"></div>
                    
                                <div class="col-sm mt-2">
                                    <div class="input-group ">
                                        <span class="input-group-text" id="basic-addon1">Desde</span>
                                        <div class="col">
                                            <input type="date" class="form-control" placeholder="Fecha" aria-label="Username" aria-describedby="basic-addon1" formControlName="fecha1">
                                        </div>
                            
                                    </div>
                                </div>
                     
                                <div class="col-sm mt-2">
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">Hasta</span>
                                        <div class="col">
                                            <input type="date" class="form-control" placeholder="Fecha" aria-label="Username" aria-describedby="basic-addon1" formControlName="fecha2">
                  
                                        </div>
                                    </div>

                                </div>
                                <div class="col-3 mt-2">
                                    <div class="form-outline">
                                        <button type="button" class="btn btn-primary" (click)="buscar()">Buscar</button>
                                     </div>
                                </div>  
                            </div>
                        </form>
                  </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-fluid" *ngIf="resul">

    <div class="row">

        <div class="col">
            <div class="mt-5">
                <div class="card">
                    <div class="card-header text-white bg-primary" >
                    Listado de Vehiculos por grabar AUTOPARTES
                    </div>
                    <div class="card-body bg-light">
                      <div class="row">

                        <div class="row mt-2 my-1">
                            <div class="col-2">
                                <input type="text" class="form-control" placeholder="Buscar grabados..." name="filterProduct"[(ngModel)]="filter">
                            </div>
                        </div>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">N° Orden</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Patente</th>
                                    <th scope="col">Modelo</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Grabar</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr *ngFor="let lst of detalles | autopartesCristales: filter | detallePorGrabar |  paginate: { itemsPerPage: 8, currentPage: page } " >
                                    <td>{{ lst.idDetalle }}</td>
                                    <td>{{ lst.fecha | fecha  }}</td>
                                    <td style="color:#1f60e2"><strong>{{ lst.turno.vehiculo.patente }}</strong></td>
                                    <td>{{ lst.turno.vehiculo.modelo }}</td>
                                    <td>{{ lst.turno.usuario.apellido + " " + lst.turno.usuario.nombre }}</td>
                                    <td  style="color:#1f60e2"> <strong>{{ lst.servicio.descripcion }} </strong> </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-outline-success" (click)="confirmarAutopartes(lst)">
                                                <i class="bi bi-check2"></i>
                                            </button>
                                        </div>
                                    </td>

                    
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls class="text-center" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                  </div>
            </div>
        </div>
    </div>
</div>
